@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Overpass:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Savate:ital,wght@0,200..900;1,200..900&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Oswald", sans-serif;
}

.section1 {
    height: 100vh;
    width: 100%;
}

.bg1 {
    background-image: url(../img/back2.jpg);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.section1-2 {
    height: 67vh;
    width: 55vw;
    background: rgba(255, 255, 255, 0.253);
    border: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;



}

.text-style1 {
    height: 80%;
    width: 90%;
    background-color: white;
    border-radius: 20px;
}

.sm-tstyle {
    height: 50%;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;


}

.sm-tstyle2 {
    height: 50%;
    width: 90%;


}

.below-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.input-text {
    display: flex;
    justify-content: center;
    gap: 5px;
    font-size: 20px;
    margin-top: 30px;

}

.text-1 {
    font-size: 60px;
}

.text-2 {
    font-size: 50px;
}

.text-3 {
    font-size: 25px;
    margin-top: 10px;
}

.button {
    background-color: #3574E0;
    font-size: 25px;
    border-radius: 60px;
    color: white;
    padding: 10px 10px;
}

input {
    border: none;
    border-bottom: solid black 1px;
    outline: none;
    font-size: 20px;
}

.section2 {
    height: 110vh;
    width: 100%;
    background-color: rgb(254, 254, 255);
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
    margin-bottom: 700px;
}

.setion2-1 {
    display: flex;
    justify-content: space-between;
    margin: 0px 50px;
    padding-top: 50px;
}

.text-sty1 {
    font-size: 70px;
    font-weight: 70px;
}

.but1 {
    border-radius: 50px;
    font-size: 30px;
    padding: 20px 20px;
    background-color: black;
    color: beige;
    cursor: pointer;
}

.image-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 25px;

}
.im-text1{
    font-size: 54px;
    font-weight: 55 ;
    
}
.im-text2{
    font-size: 25px;
    margin-top: 25px;
    font-weight: 55;
}
.im-text3{
     font-size: 54px;
    font-weight: 55; 
}
.im-text4{
     font-size: 25px;
    margin-top: 25px;
    font-weight: 45;
}
.im-text5{
  font-size: 54px;
    font-weight: 55;
}
.im-text6{
     font-size: 25px;
    margin-top: 25px;
    font-weight: 45; 
}

.section3 {
    height: 90vh;
    width: 100%;
    background-color: #101585;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 40px;
    position: fixed;
    bottom: 0;
    z-index: -;
}

.section3-1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #D1F0B1;
    justify-content: center;
    align-items: center;



#but2 {
    height: 80px;
    width: 170px;
    border-radius: 50px;
    font-size: 20px;
    background-color: #D1F0B1;
    color: rgba(0, 0, 255, 0.671);
    cursor: pointer;
}